<footer>
    <address>
        <p>
            Store Location: <br />
            <span>Baker St., Davao City, Davao Del Norte, Philippines</span>
        </p>
        <p>
            Store Hours: <br />
            <span>Monday-Friday: 10:00 am - 6:00 pm</span> <br />
            <span>Saturday: 10:00 am - 3:00 pm</span> <br />
            <span>Sunday: Closed</span>
        </p>
        <p>
            Contact Number: <br />
            <a>(+63) 9055507401</a> <br />
            <a>(+63) 9912245312</a>
        </p>
        <p>
            Email Address: <br />
            <a>elmasjewel@gmail.com</a>
        </p>
        <p>
            Social Media: <br />
            <a href="#" class="fa fa-facebook"></a>
            <a href="#" class="fa fa-twitter"></a>
        </p>
        <p>@ 2022 ELMA'S JEWELS</p>
    </address>
</footer>
