{% load static %}
<header>
    <h1>Elma's Jewels</h1>
    <nav>
        <div>
            <a href="{% url 'index' %}">HOME</a>
            <a href="{% url 'list_jewelry' %}">SHOP</a>
            <a href="{% url 'about' %}">ABOUT</a>
            <a href="{% url 'contact' %}">CONTACT</a>
        </div>
        <div>
            <a href="{% url 'cart' %}" class="fas fa-shopping-cart">
                <span id="count-pill"><span>{{ cart_item_count }}</span></span>
            </a>
            <a href="#" class="fas fa-user-alt">
                <span>Sign In</span>
            </a>
        </div>
    </nav>
    <section id="banner">
        <a href="{% url 'list_jewelry' %}">SHOP NOW</a>
    </section>
</header>
