{% load static %}
<header>
    <h1>Elma's Jewels</h1>
    <!-- <section>
                <a href=""><i>User</i></a>
                <a href=""><i>Add To Cart</i></a>
            </section> -->
    <nav>
        <div>
            <a href="{% url 'index' %}">HOME</a>
            <a href="{% url 'shop' %}">SHOP</a>
            <a href="">ABOUT</a>
            <a href="">CONTACT</a>
        </div>
    </nav>

    <section id="banner">
        <a href=""><button>SHOP NOW</button></a>
    </section>
</header>
