main {
    background-color: #fff3e4;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main * {
    color: #483434;
}

form div {
    display: flex;
    flex-direction: column;
    margin: 2rem 0;
}

form section:last-child {
    padding-top: 0;
}

form label {
    font-size: 0.9rem;
    font-weight: bold;
    color: rgb(43, 42, 42);
}

form input,
form select {
    padding: 0.4rem;
    font-size: 1rem;
    max-width: 30ch;
}

form button {
    padding: 0.4rem;
    color: #fff3e4;
    background-color: #483434;
    border: none;
}

form a {
    font-size: 0.8rem;
    padding: 0.25rem 0;
}

form button:hover,
form a:hover {
    cursor: pointer;
    opacity: 0.8;
}

@media screen and (min-width: 768px) {
}
