#shop-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#shop-section h2 {
    text-transform: uppercase;
}

#sort-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
    padding-bottom: 1rem;
    width: 80%;
}

#sort-form select {
    padding: 0.3rem;
    color: #483434;
}

#sort-form option {
    padding: 0.3rem;
    color: #483434;
}

#filter-form {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    margin-top: 0;
    width: 80%;
}

#filter-form ul {
    margin: 1rem 0;
}

#filter-form li {
    display: flex;
    align-items: center;
    margin-top: 0.25rem;
}

#filter-form label {
    font-size: 0.8rem;
}

#jewelry-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 22ch;
    width: 90%;
}

#jewelry-list li {
    display: flex;
    justify-content: center;
}

#jewelry-list img {
    width: 18ch;
}

#jewelry-list h3 {
    font-size: 0.8rem;
    font-weight: 400;
    max-width: 18ch;
    word-wrap: break-word;
    text-transform: capitalize;
}

#jewelry-list a:hover img {
    opacity: 80%;
}

#jewelry-list a:hover h3,
#jewelry-list a:hover data {
    text-decoration: underline;
}

.pagination {
    display: flex;
    justify-content: center;
    padding: 1rem;
    margin: 1rem;
}

.pagination li a {
    padding: 0.5rem 0.75rem;
}

.pagination :not(li.disabled):hover a {
    color: #483434;
    background-color: #fff3e4;
}

.pagination li.active a {
    color: #483434;
    background-color: #fff3e4;
}

.pagination li.disabled a {
    opacity: 0.7;
}

@media screen and (min-width: 480px) {
    #filter-form {
        flex-direction: row;
        justify-content: space-between;
    }

    #jewelry-list img {
        width: 21ch;
    }

    #jewelry-list h3 {
        max-width: 21ch;
    }

    .pagination li a {
        padding: 0.75rem 1rem;
    }
}

@media screen and (min-width: 640px) {
    #jewelry-list {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (min-width: 768px) {
    #shop-section {
        align-items: flex-start;
        display: grid;
        grid-template-columns: 25% 75%;
        grid-template-areas:
            "h2 h2"
            "sort-form jewelry-list"
            "filter-form jewelry-list"
            "pagination pagination";
    }

    h2 {
        grid-area: h2;
        padding-bottom: 1rem;
    }

    #sort-form {
        grid-area: sort-form;
        margin-left: 2rem;
    }

    #filter-form {
        grid-area: filter-form;
        margin-left: 2rem;
        margin-right: 0;
        flex-direction: column;
    }

    #jewelry-list {
        grid-area: jewelry-list;
        grid-auto-rows: 22ch;
        width: 95%;
    }

    #jewelry-list img {
        width: 20ch;
    }

    #jewelry-list h3 {
        max-width: 20ch;
        font-size: 0.9rem;
    }

    #pagination {
        grid-area: pagination;
    }
}

@media screen and (min-width: 1024px) {
    #shop-section {
        padding: 0 5%;
    }

    #jewelry-list {
        grid-auto-rows: 24ch;
    }

    #jewelry-list img {
        width: 24ch;
    }

    #jewelry-list h3 {
        max-width: 24ch;
    }
}

@media screen and (min-width: 1280px) {
    #shop-section {
        grid-template-columns: 20% 80%;
    }

    h2 {
        font-size: 2.5rem;
    }

    #sort-form select {
        width: 25ch;
    }

    #jewelry-list {
        grid-template-columns: repeat(4, 1fr);
    }

    #jewelry-list img {
        width: 24ch;
    }

    #jewelry-list h3 {
        max-width: 24ch;
    }

    .pagination {
        margin-top: 1.5rem;
    }
}

@media screen and (min-width: 1366px) {
    #jewelry-list {
        grid-auto-rows: 26ch;
    }

    #jewelry-list img {
        width: 26ch;
    }

    #jewelry-list h3 {
        max-width: 26ch;
    }
}
