{% extends 'base.html' %} {% load static %} {% load humanize %}
<!-- ### -->

{% block extrahead %}
<meta name="description" content="Elma's Jewels Checkout Page" />
<link rel="stylesheet" href="{% static 'css/all.css' %}" />
<link rel="stylesheet" href="{% static 'css/checkout.css' %}" />
<title>ELMA'S JEWEL | CHECKOUT</title>
{% endblock %}

<!-- ##### -->

{% block content %}
<!-- #### -->
{% include 'partials/header2.html' %}
<main>
    <h2>CHECKOUT</h2>
    <form action="">
        {% csrf_token %}
        <section id="order-summary-section">
            <h3>Order Summary:</h3>
            <ul>
                <li>
                    <div class="checkout-item"><strong>Item</strong></div>
                    <div class="checkout-quantity"><strong>Qty</strong></div>
                    <div class="checkout-price"><strong>Price</strong></div>
                </li>
                {% for checkout_item in checkout_items %}
                <li class="checkout-items">
                    <figure class="checkout-item">
                        <img src="{{ checkout_item.jewelry.image.url }}" alt="" />
                        <figcaption>{{ checkout_item.jewelry.name }}</figcaption>
                    </figure>
                    <div class="checkout-quantity">
                        <span>{{ checkout_item.order_quantity }} </span>
                    </div>
                    <div class="checkout-price">$ {{ checkout_item.jewelry.price | intcomma }}</div>
                </li>
                {% endfor %}
            </ul>
            <hr />
            <div id="total-cost-container">
                <strong>Total:</strong><strong>$ {{ total_cost | intcomma }}</strong>
                <input type="hidden" id="total-cost" value="{{ total_cost }}" />
            </div>
        </section>
        <section id="contact-detail-section">
            <h3>Contact Details:</h3>
            <div class="form-control">
                <label for="firstname">First Name: </label>
                <input type="text" name="firstname" id="firstname" value="{{ user.first_name}}" />
            </div>
            <div class="form-control">
                <label for="lastname">Last Name: </label>
                <input type="text" name="lastname" id="lastname" value="{{ user.last_name }}" />
            </div>
            <div class="form-control">
                <label for="email">Email: </label>
                <input type="text" name="email" id="email" value="{{ user.email }}" />
            </div>
            <div class="form-control">
                <label for="contact">Contact No: </label>
                <input type="text" name="contact" id="contact" value="{{ phone_number }}" />
            </div>
        </section>
        <section id="shipping-detail-section">
            <h3>Shipping Details:</h3>
            <div class="form-control">
                <label for="country">Country: </label>
                <input type="text" name="country" id="country" value="{{ address.country.name }}" />
            </div>
            <div class="form-control">
                <label for="region">Region / State / Province: </label>
                <input type="text" name="region" id="region" value="{{ address.region }}" />
            </div>
            <div class="form-control">
                <label for="city">City / Town / Village: </label>
                <input type="text" name="city" id="city" value="{{ address.city }}" />
            </div>
            <div class="form-control">
                <label for="street">Street / Road / Block: </label>
                <input type="text" name="street" id="street" value="{{ address.street }}" />
            </div>
            <div class="form-control">
                <label for="building">Building / House: </label>
                <input type="text" name="building" id="building" value="{{ address.building }}" />
            </div>
            <div class="form-control">
                <label for="unit">Room / Floor: </label>
                <input type="text" name="unit" id="unit" value="{{ address.unit }}" />
            </div>
            <div class="form-control">
                <label for="area-code">Postal Code / Zip Code: </label>
                <input type="text" name="area-code" id="area-code" value="{{ address.area_code }}" />
            </div>
        </section>
        <section id="submit-checkout-section">
            <div id="paypal-button-container"></div>
            <!-- <button type="submit">Checkout</button> -->
        </section>
    </form>
</main>

{% include 'partials/footer.html' %}

<script>
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== "") {
            var cookies = document.cookie.split(";");
            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === name + "=") {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    var csrftoken = getCookie("csrftoken");
</script>
<script src="https://www.paypal.com/sdk/js?client-id=AeiH3JAE3-OIIJz0b5KQvVXrzBGhn15fsBt-XtGMTBcVQtnrRa8nwBpwPHv2LUjwvc69w5oW3B8uUIqx"></script>
<script>
    // Render the PayPal button into #paypal-button-container
    paypal
        .Buttons({
            // Call your server to set up the transaction
            createOrder: function (data, actions) {
                return fetch("{% url 'create_order' %}", {
                    method: "post",
                    headers: {
                        "Content-Type": "application/json",
                        "X-CSRFToken": csrftoken,
                    },
                })
                    .then(function (res) {
                        return res.json();
                    })
                    .then(function (orderData) {
                        return orderData.id;
                    });
            },

            // Call your server to finalize the transaction
            onApprove: function (data, actions) {
                return fetch("/checkout/payment_complete/" + data.orderID, {
                    method: "post",
                    headers: {
                        "Content-Type": "application/json",
                        "X-CSRFToken": csrftoken,
                    },
                })
                    .then(function (res) {
                        return res.json();
                    })
                    .then(function (orderData) {
                        // Three cases to handle:
                        //   (1) Recoverable INSTRUMENT_DECLINED -> call actions.restart()
                        //   (2) Other non-recoverable errors -> Show a failure message
                        //   (3) Successful transaction -> Show confirmation or thank you

                        // This example reads a v2/checkout/orders capture response, propagated from the server
                        // You could use a different API or structure for your 'orderData'
                        var errorDetail = Array.isArray(orderData.details) && orderData.details[0];

                        if (errorDetail && errorDetail.issue === "INSTRUMENT_DECLINED") {
                            return actions.restart(); // Recoverable state, per:
                            // https://developer.paypal.com/docs/checkout/integration-features/funding-failure/
                        }

                        if (errorDetail) {
                            var msg = "Sorry, your transaction could not be processed.";
                            if (errorDetail.description) msg += "\n\n" + errorDetail.description;
                            if (orderData.debug_id) msg += " (" + orderData.debug_id + ")";
                            return alert(msg); // Show a failure message (try to avoid alerts in production environments)
                        }

                        // Successful capture! For demo purposes:
                        location.href = "{% url 'payment_successful' %}";

                        // Replace the above to show a success message within this page, e.g.
                        // const element = document.getElementById('paypal-button-container');
                        // element.innerHTML = '';
                        // element.innerHTML = '<h3>Thank you for your payment!</h3>';
                        // Or go to another URL:  actions.redirect('thank_you.html');
                    });
            },
        })
        .render("#paypal-button-container");
</script>
<script src="{% static 'js/header.js' %}"></script>
<!-- #### -->
{% endblock %}
