{% extends 'base.html' %} {% load static %}
<!-- #### -->

{% block extrahead %}
<meta name="description" content="Collection of all jewelries in Elma's Jewels" />
<link rel="stylesheet" href="{% static 'css/all.css' %}" />
<link rel="stylesheet" href="{% static 'css/product.css' %}" />
<link rel="stylesheet" href="{% static 'css/cart.css' %}" />
<title>ELMA'S JEWELS | ALL JEWELRY</title>
{% endblock %}
<!-- #### -->

{% block content %}
<!-- #### -->
{% include 'partials/header.html' %}
<main>
    <section id="product-section">
        <figure>
            <img src="{{ product.image.url }}" alt="" />
            <figcaption></figcaption>
        </figure>

        <h2>{{ product.name }}</h2>
        <div>
            <strong><data class="price">$ {{ product.price }}</data></strong>
        </div>
        <form action="/cart/add_to_cart/{{ product.id }}" method="post">
            {% csrf_token %}
            <button type="submit">ADD TO CART</button>
        </form>
        <p>{{ product.description }}</p>
        <aside>
            <h3>CARE TIPS</h3>
            <p>{{ product.care_tips }}</p>
        </aside>
    </section>
    <section id="product-review-section">
        <h2>CUSTOMER REVIEWS</h2>
        <div id="{{ product.rating }}">
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span><br />
            <em>Based on 7 reviews</em>
        </div>
        <ul id="rating-statistics">
            <li>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span>0%</span>
                <span>(0)</span>
            </li>
            <li>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span>0%</span>
                <span>(0)</span>
            </li>
            <li>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <span>100%</span>
                <span>(7)</span>
            </li>
            <li>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <span>0%</span>
                <span>(0)</span>
            </li>
            <li>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <span>0%</span>
                <span>(0)</span>
            </li>
        </ul>

        <ul id="reviews">
            <li>
                <span>James</span> <br />
                <time datetime="2022-7-7">07/07/2022</time>
                <div class="rating">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span><br />
                </div>
                <br />
                <p>
                    Just received both items, I love love love them! Thank you so much for your
                    service and the gift. Will highly recommend your brand to all of my friends.
                </p>
            </li>
            <li>
                <span>James</span> <br />
                <time datetime="2022-7-7">07/07/2022</time>
                <div class="rating">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span><br />
                </div>
                <br />
                <p>
                    Just received both items, I love love love them! Thank you so much for your
                    service and the gift. Will highly recommend your brand to all of my friends.
                </p>
            </li>
            <li>
                <span>James</span> <br />
                <time datetime="2022-7-7">07/07/2022</time>
                <div class="rating">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span><br />
                </div>
                <br />
                <p>
                    Just received both items, I love love love them! Thank you so much for your
                    service and the gift. Will highly recommend your brand to all of my friends.
                </p>
            </li>
            <li>
                <span>James</span> <br />
                <time datetime="2022-7-7">07/07/2022</time>
                <div class="rating">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span><br />
                </div>
                <br />
                <p>
                    Just received both items, I love love love them! Thank you so much for your
                    service and the gift. Will highly recommend your brand to all of my friends.
                </p>
            </li>
        </ul>
    </section>
</main>
{% include 'partials/footer.html' %}
<!-- #### -->
{% endblock %}
