{% extends 'base.html' %}
{% load static %}
{% block extrahead %}
    <meta name="description" content="Elma's Jewels Home Page" />
    <link rel="stylesheet" href="{% static 'css/all.css' %}" />
    <link rel="stylesheet" href="{% static 'css/profile.css' %}" />
    <title>ELMA'S JEWELS | HOME</title>
{% endblock %}
{% block content %}
    {% include 'partials/header2.html' %}
    <main>
        <h2>PROFILE</h2>
        <section>
            <figure>
                <div id="profile-picture"></div>
            </figure>
            <div>
                <h3 class="sub-header">Account Details</h3>
                <a href="" class="btn div-btn">Edit</a>
                <ul class="details">
                    <li>Name: {{ request.user.first_name }} {{ request.user.last_name }}</li>
                    <li>Username: {{ request.user.username }}</li>
                    <li>Email: {{ request.user.email }}</li>
                    <li>Password: ******</li>
                </ul>
            </div>
            <div>
                <h3 class="sub-header">Addresses</h3>
                <a href="{% url 'add_address' %}" class="btn div-btn">Add</a>
                <ul class="details">
                    <hr />
                    {% if addresses %}
                        {% for address in addresses %}
                            <li class="address-li">
                                <p>
                                    {{ address.address_line_1 }},
                                    {% if address.address_line_2 %}{{ address.address_line_2 }},{% endif %}
                                    {{ address.admin_area_2 }}, {{ address.admin_area_1 }}, {{ address.postal_code }},
                                    {{ address.country.name }}
                                </p>
                                <div class="btn-container">
                                    <a href="" class="btn">Edit</a><a href="" class="btn">Delete</a>
                                </div>
                            </li>
                            <hr />
                        {% endfor %}
                    {% else %}
                        <li>No Address To Display</li>
                    {% endif %}
                </ul>
            </div>
            <div>
                <h3 class="sub-header">Orders</h3>
                <a href="" class="btn">View All</a>
                {% if orders %}
                    <table class="details">
                        <tr>
                            <th>Order #</th>
                            <th>Items</th>
                            <th>Status</th>
                        </tr>
                        {% for order in orders %}
                            <tr>
                                <td>{{ order.order_key }}</td>
                                <td>
                                    {% for item in order.list %}<span>{{ item.jewelry.name }}</span>{% endfor %}
                                </td>
                                <td>Shipping</td>
                            </tr>
                        {% endfor %}
                    </table>
                {% else %}
                    <p>No orders to display</p>
                {% endif %}
            </div>
        </section>
    </main>
    {% include 'partials/footer.html' %}
    <script src="{% static 'js/header.js' %}"></script>
{% endblock %}
