{% extends 'base.html' %} {% load static %}
<!-- ### -->

{% block extrahead %}
<meta name="description" content="Elma's Jewels Home Page" />
<link rel="stylesheet" href="{% static 'css/all.css' %}" />
<link rel="stylesheet" href="{% static 'css/register.css' %}" />
<title>ELMA'S JEWELS | HOME</title>
{% endblock %}
<!-- ##### -->

{% block content %}
<!-- #### -->
{% include 'partials/header2.html' %}
<main>
    <h2>Create an Account</h2>
    <form action="{% url 'register' %}" method="post">
        {% csrf_token %}
        <section>
            <h3>Account Details</h3>
            <div>
                <label for="id_first_name">First Name</label>
                {{ form.first_name }}
            </div>
            <div>
                <label for="id_last_name">Last Name</label>
                {{ form.last_name }}
            </div>
            <div>
                <label for="id_username">Username</label>
                {{ form.username }}
            </div>
            <div>
                <label for="id_email">Email Address</label>
                {{ form.email }}
            </div>
            <div>
                <label for="id_password1">Password</label>
                {{ form.password1 }}
            </div>
            <div>
                <label for="id_password2">Confirm Password</label>
                {{ form.password2 }}
            </div>
        </section>
        <section>
            <div>
                <button type="submit">Register</button>
                <a href="{% url 'login' %}">Already have an account?</a>
            </div>
        </section>
    </form>
</main>
<script src="{% static 'js/header.js' %}"></script>
<!-- #### -->
{% endblock %}
