{% extends 'base.html' %} {% load static %}
<!-- ### -->

{% block extrahead %}
<meta name="description" content="Elma's Jewels Home Page" />
<link rel="stylesheet" href="{% static 'css/all.css' %}" />
<link rel="stylesheet" href="{% static 'css/register.css' %}" />
<title>ELMA'S JEWELS | HOME</title>
{% endblock %}
<!-- ##### -->

{% block content %}
<!-- #### -->
{% include 'partials/header2.html' %}
<main>
    <h2>Create an Account</h2>
    <form action="{% url 'register' %}" method="post">
        {% csrf_token %}
        <section>
            <h3>Account Details</h3>
            <div>{{ form.username.label }} {{ form.username }}</div>
            <div>{{ form.email.label }} {{ form.email }}</div>
            <div>{{ form.password1.label }} {{ form.password1 }}</div>
            <div>{{ form.password2.label }} {{ form.password2 }}</div>
        </section>
        <section>
            <h3>Address Details</h3>
            <div>
                <label for="{{ form2.unit.label }}">Room / Floor</label>
                {{ form2.unit }}
            </div>
            <div>
                <label for="{{ form2.building.label }}">Building / House</label>
                {{ form2.building }}
            </div>
            <div>
                <label for="{{ form2.street.label }}">Street / Road / Block / etc.</label>
                {{ form2.street }}
            </div>
            <div>
                <label for="{{ form2.city.label }}">City / Town / Municipality / Village</label>
                {{ form2.city }}
            </div>
            <div>
                <label for="{{ form2.region.label }}">Region / State / Province</label>
                {{ form2.region }}
            </div>

            <div>
                <label for="{{ form2.area_code.label }}">Postal Code / Zip Code</label>
                {{ form2.area_code }}
            </div>
            <div>
                <label for="country">Country</label>
                {{ form2.country }}
            </div>
        </section>
        <section>
            <div>
                <button type="submit">Register</button>
                <a href="{% url 'login' %}">Already have an account?</a>
            </div>
        </section>
    </form>
</main>
<script src="{% static 'js/header.js' %}"></script>
<!-- #### -->
{% endblock %}
