<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <header>SHIPPING</header>
        <main>
            <form action="">
                <div>
                    <div>Contact: <span>example@gmail.com</span></div>
                    <div>Ship To: <span>Gredu, Panabo, Davao del Norte, Philippines</span></div>
                </div>
                <div>
                    Shipping Method:
                    <div>
                        <input type="radio" />
                        <label for="">Free Shipping</label>
                    </div>
                    <div>
                        <input type="radio" />
                        <label for="">Expedited</label>
                    </div>
                </div>
                <button>Continue to Payment</button>
            </form>
        </main>
    </body>
</html>
